ENV=local

# HTTP
HTTP_ADDRESS=:8081

# Database
DB_DSN=postgres://postgres:postgres@localhost:5432/auth_db?sslmode=disable

# Redis
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

# JWT
JWT_PRIVATE_KEY_PATH=./keys/private.pem
JWT_PUBLIC_KEY_PATH=./keys/public.pem

# Token TTL
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=720h
VERIFY_TOKEN_TTL=24h

# Kafka
KAFKA_BROKERS=localhost:9092

# Bcrypt
BCRYPT_COST=12

# Security
REQUIRE_EMAIL_VERIFIED=false

# Logging
LOG_LEVEL=info
